.login {
    padding: 6px;
    float: right;
}
.pastille{
    float: right;
    height: 30px;
    margin-right: 3px;
    vertical-align: middle;
    border-radius: 50%;
}
.textPastille {
    float: right;
    height: 30px;
    margin-right: 6px;
    vertical-align: middle;
}
.clickable {
    cursor: hand;
}
